doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
  body
    .container
        h1= title
        div.main-nav
    block content